node_modules
jspm_packages
.sass-cache

css/sass/components/button/*.css
css/sass/components/button/*.css.map

javascript/angular/components/button/app.js

javascript/angular2/components/button/app.js

typescript/angular/typings
typescript/angular/components/button/app.js
typescript/angular/components/button/app.js.map
typescript/angular/components/button/button-unit-spec.js

typescript/angular2/components/button/dist

dart/angular/.pub
dart/angular/.packages
dart/angular/packages
dart/angular/build
dart/angular/web/packages
dart/angular/web/app.js
dart/angular/web/app.js.deps
dart/angular/web/app.js.map
dart/angular/test/packages

dart/angular2/.pub
dart/angular2/.packages
dart/angular2/packages
dart/angular2/build
dart/angular2/web/packages
dart/angular2/web/app.js
dart/angular2/web/app.js.deps
dart/angular2/web/app.js.map
dart/angular2/test/packages