<!DOCTYPE html>
<html>
	<head>
		<title>Sass Button Component Example</title>
		<meta name="description" content="Sass Button Component Example">
		<meta name="keywords" content="html, sass, example, component, button">
		<link rel="author" href="https://github.com/leondejong" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="main-container">
			<section class="button-container">
				<button class="button">Button</button>
				<button class="button button--red">Button</button>
				<button class="button button--yellow">Button</button>
				<button class="button button--green">Button</button>
				<button class="button button--blue">Button</button>
			</section>
			<section class="button-container">
				<button class="button button--outline">Button</button>
				<button class="button button--outline button--red">Button</button>
				<button class="button button--outline button--yellow">Button</button>
				<button class="button button--outline button--green">Button</button>
				<button class="button button--outline button--blue">Button</button>
			</section>
			<section class="button-container">
				<button class="button" disabled>Button</button>
				<button class="button button--red" disabled>Button</button>
				<button class="button button--yellow" disabled>Button</button>
				<button class="button button--green" disabled>Button</button>
				<button class="button button--blue" disabled>Button</button>
			</section>
			<section class="button-container">
				<button class="button button--outline" disabled>Button</button>
				<button class="button button--outline button--red" disabled>Button</button>
				<button class="button button--outline button--yellow" disabled>Button</button>
				<button class="button button--outline button--green" disabled>Button</button>
				<button class="button button--outline button--blue" disabled>Button</button>
			</section>
			<section class="button-container">
				<a href="#" class="button">Button</a>
				<a href="#" class="button button--red">Button</a>
				<a href="#" class="button button--yellow">Button</a>
				<a href="#" class="button button--green">Button</a>
				<a href="#" class="button button--blue">Button</a>
			</section>
			<section class="button-container">
				<a href="#" class="button button--outline">Button</a>
				<a href="#" class="button button--outline button--red">Button</a>
				<a href="#" class="button button--outline button--yellow">Button</a>
				<a href="#" class="button button--outline button--green">Button</a>
				<a href="#" class="button button--outline button--blue">Button</a>
			</section>
			<section class="button-container">
				<a href="#" class="button disabled">Button</a>
				<a href="#" class="button button--red disabled">Button</a>
				<a href="#" class="button button--yellow disabled">Button</a>
				<a href="#" class="button button--green disabled">Button</a>
				<a href="#" class="button button--blue disabled">Button</a>
			</section>
			<section class="button-container">
				<a href="#" class="button button--outline disabled">Button</a>
				<a href="#" class="button button--outline button--red disabled">Button</a>
				<a href="#" class="button button--outline button--yellow disabled">Button</a>
				<a href="#" class="button button--outline button--green disabled">Button</a>
				<a href="#" class="button button--outline button--blue disabled">Button</a>
			</section>
		</div>
	</body>
</html>