<!DOCTYPE html>
<html>
	<head>
		<title>Angular2 Typescript Button Component Example</title>
		<meta name="description" content="Angular2 Typescript Button Component Example">
		<meta name="keywords" content="angular2, typescript, component, button, example">
		<link rel="author" href="https://github.com/leondejong" />
		<script src="../../node_modules/es6-shim/es6-shim.js"></script>
		<script src="../../node_modules/angular2/bundles/angular2-polyfills.js"></script>
		<script src="../../node_modules/systemjs/dist/system.src.js"></script>
		<script src="../../node_modules/rxjs/bundles/Rx.js"></script>
		<script src="../../node_modules/angular2/bundles/angular2.dev.js"></script>
		<script src="config.system.js"></script>
	</head>
	<body>
		<main></main>
	</body>
</html>